
<mat-card>
<mat-form-field appearence="outline">
<mat-label>id</mat-label>
 <input type="text" matInput placeholder="" [(ngModel)]="id">
</mat-form-field>


<mat-form-field appearence="outline">
<mat-label>titulo</mat-label>
 <input type="text" matInput placeholder="" [(ngModel)]="titulo">
</mat-form-field>


<mat-form-field appearence="outline">
<mat-label>autor</mat-label>
 <input type="text" matInput placeholder="" [(ngModel)]="autor">
</mat-form-field>


<mat-form-field appearence="outline">
<mat-label>numero paginas</mat-label>
 <input type="text" matInput placeholder="" [(ngModel)]="paginas">
</mat-form-field>


 <button color="accent"
 mat-mini-fab (click)="onLivroCadastrado()"
 >+livro
 </button>

</mat-card>
